# Node modules folder
node_modules/

# Environment variables
.env

# Vercel directory
.vercel/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Coverage directory used by testing tools
coverage/

# System files
.DS_Store
Thumbs.db
.vscode/
